#cart-single-milk
    .row
        .col-lg-4.milk-square(ng-repeat='product in vm.products')
            .text-center.milk-img
                img(ng-src='{{ product.imgBig }}')
            p.milk-name {{ product.name }}
            p.milk-price {{ product.price | currency : '' : 0 }} đ
            button.btn.btn-default(ng-click='vm.CartSingleService.addToCartSingle(product)') {{ vm.buttonLabel }}