#empty-cart-exception
    .alert.alert-danger.text-center(ng-if='vm.condition')
        .text-center(role='alert') 
            strong {{ vm.cartEmptyException }}
        button.btn.btn-default(ng-click="vm.goToCart('single')")
            i.fa.fa-shopping-cart &nbsp;
            span {{ vm.cartSingleLabel }}
        button.btn.btn-default(ng-click="vm.goToCart('monthly')")
            i.fa.fa-calendar &nbsp;
            span {{ vm.cartMonthlyLabel }}
