#checkout-process
    .header
        h2 {{ vm.title }}
    #checkout-step-one
        .content
            // left
            .col-lg-7.authentication
                h2#loginLabel {{ vm.loginWithLabel }}
                .text-center
                    p
                        i.fa.fa-facebook-square.fa-4x(ng-click='vm.callOAuth("/api/auth/facebook")')
                        i.fa.fa-google-plus-square.fa-4x(ng-click='vm.callOAuth("/api/auth/google")')
                h2#orLabel {{ vm.orLabel }}
                .input-group
                    span.input-group-addon
                        i.fa.fa-user
                    input.form-control.inputlg(type='text' placeholder='{{ vm.usernamePlaceholderLabel }}' ng-model='vm.user.username')
                .input-group
                    span.input-group-addon
                        i.fa.fa-key
                    input.form-control.inputlg(type='text' placeholder='{{ vm.passwordPlaceholderLabel }}' ng-model='vm.user.password')
                .text-right
                    btn.btn.btn-default.btn-success.btn-lg(ng-click='vm.goToStepTwo()') {{ vm.loginLabel }}
            // right
            .col-lg-5.registration
                h4 {{ vm.createNewAccountLabel }}
                btn.btn.btn-default.btn-success.btn-lg.btn-facebook {{ vm.registerWithFacebook }}
                btn.btn.btn-default.btn-success.btn-lg.btn-google {{ vm.registerWithGoogle }}