#checkout-process
    .header
        h2 {{ vm.title }}
    #checkout-step-two
        .row
            .col-lg-6.col-lg-offset-3
                h3(ng-if="vm.isReadonly") {{ vm.header }}
                h3(ng-if="!vm.isReadonly") {{ vm.updateAddressLabel }}
                form.form-horizontal
                    .form-group
                        label.control-label.col-lg-3(for="display-name") {{ vm.displayNameLabel }}
                        .col-lg-9
                            input.form-control(type="text" id="display-name" ng-model="vm.user.displayName" ng-readonly="true")
                    .form-group
                        label.control-label.col-lg-3(for="phone-number") {{ vm.phoneNumberLabel }}
                        .col-lg-9
                            input.form-control(type=text id="phone-number" ng-model="vm.user.phoneNumber" ng-readonly="vm.isReadonly")
                    .form-group
                        label.control-label.col-lg-3(for="address") {{ vm.addressLabel }}
                        .col-lg-9
                            textarea.form-control(id="address" ng-model="vm.user.address" ng-readonly="vm.isReadonly")
                    .form-group
                        .col-lg-12.text-right
                            div(ng-if="vm.isReadonly")
                                button.btn.btn-primary(ng-click="vm.updateOrNext()") {{ vm.header }}
                                button.btn.btn-default#edit-user-info(ng-click="vm.isReadonly = !vm.isReadonly") {{ vm.editLabel }}
                            div(ng-if="!vm.isReadonly")
                                button.btn.btn-primary(ng-click="vm.updateOrNext()") {{ vm.updateLabel }}
                                button.btn.btn-default#edit-user-info(ng-click="vm.isReadonly = !vm.isReadonly") {{ vm.cancelLabel }}