#checkout-process.row
    .header
        h2 {{ vm.title }}
    #checkout-step-one
        .content
            .col-lg-5.col-lg-offset-3
                a.btn.btn-block.btn-lg.btn-social.btn-facebook(ng-click='vm.callOAuth(\'/api/auth/facebook\')')
                    i.fa.fa-facebook
                    span {{ vm.loginWithFacebook }}
            .col-lg-5.col-lg-offset-3#button-google
                a.btn.btn-block.btn-lg.btn-social.btn-google
                    i.fa.fa-google-plus
                    span {{ vm.loginWithGoogle }}