#differences
    img(src="modules/cms/client/img/img01.png")
    h1
        strong
            span.blue Green milk 
            span có gì khác biệt?
    blockquote
        p
            strong “ Không chỉ là bán sữa chúng tôi mong muốn trao tận tay mỗi người dân Việt Nam các sản phẩm sữa chất lượng – tốt cho sức khỏe từng thành viên trong gia đình. ”
    ul.blue 
        strong Green milk thực hiện điều đó bằng cách xây dựng hệ thống quầy sữa bán lẻ và cung cấp dịch vụ giao sữa hằng ngày tiện lợi với 3 nguyên tắc cốt lõi:
        li.blue 
            strong Sữa được xay nấu mỗi sáng và bán trực tiếp cho người cho người tiêu dùng.
        li.blue 
            strong Ngoài những thành phần như đậu, sữa, nước tinh khiết, chúng tôi không cho thêm bất kỳ một hương liệu hay chất bảo quản nào.
        li.blue 
            strong Quy trình xay, nấu, bảo quản đảm tiêu chuẩn vệ sinh nghiêm ngặt được chúng tôi đặt lên hàng đầu.

    p 
        strong 
            span Với mong muốn ngày càng có nhiều người được sử dụng sản phẩm Tươi &  sạch. 
            span.blue Green milk 
            span đã không ngừng cố gắng để đảm bảo rằng sữa được nấu mỗi buổi sáng và từ nơi sản xuất chúng tôi trao đến tận tay cho bạn.

    p 
        strong 
            span Hãy cùng chúng tôi lan tỏa thông điệp 
            span.blue “ luôn dùng sản phẩm tươi & sạch “  
            span để bảo vệ sức khỏe của bạn cũng như những người thân xung quanh bạn nhé!

    p 
        strong 
            span.blue Green Milk 
            span chúc bạn ngày càng hạnh phúc và thành công trong cuộc sống!

