#about-products
    img(src='modules/cms/client/img/img01.png')
    h1.blue GREENMILK – SỮA NGON MỖI NGÀY
    p
        span.blue GreenMilk 
        span có gì khác biệt?
    blockquote.blockquote-reverse
        p “Không chỉ là bán sữa, chúng tôi mong muốn trao tận tay mỗi người dân Việt Nam các sản phẩm sữa thực vật 
            strong tươi – sạch – tốt cho sức khỏe 
            span từng thành viên trong gia đình.”

        
    ul
        span.blue GreenMilk
        span &nbsp;
        span cung cấp những loại sữa gì cho bạn ?
        li 
            strong Sữa đậu nành: 
            span Giúp làm đẹp da, chống lão hóa, giảm nguy cơ mắc bệnh tim mạch, ngăn ngừa được bệnh loãng xương.
        li 
            strong Sữa đậu xanh: 
            span Thanh nhiệt giải độc, tốt cho tim mạch và hỗ trợ chữa bệnh gút.
        li Sữa đậu đỏ: đốt cháy bớt lượng mỡ thừa giúp giảm cân, lượng kali trong hạt đậu đỏ có tác dụng giúp điều chỉnh kiểm soát huyết áp, thanh lọc cơ thể.
        li
            strong Sữa đậu phộng: 
            span Hỗ trợ giảm cân, tốt cho tim mạch, làm giảm cholesterol, tăng cường trí nhớ và ngăn ngừa lão hóa.
        li 
            strong Sữa gạo lứt: 
            span Giảm cholesterol, ngăn ngừa các nguy cơ về tim mạch và xây dựng hệ xương vững chắc. Uống trường kỳ sẽ hết được bệnh gút, chứng phong thấp của người già. Bớt hoặc không còn nhức mỏi mỗi khi thời tiết thay đổi.
        li 
            strong Sữa bắp: 
            span Tốt cho hệ tiêu hóa, trong bắp cũng có chứa lượng vitamin A nhất định rất có lợi cho mắt của bạn, đặc biệt trong bắp còn có chứa lutein và zeaxanthin 2 chất quan trọng trong việc giúp chống lão hóa điểm vàng. Do đó sữa bắp cũng có những tác dụng trên đối với thị lực của bạn, tinh bột trong sữa bắp cũng giúp bạn duy trì lượng đường trong máu, giúp não bộ của bạn hoạt động tốt hơn trong tình trạng căng thẳng và áp lực công việc.
        li 
            strong Sữa hạt sen: 
            span Hạt sen chữa mất ngủ rất tốt và giúp tăng tiết sữa cho phụ nữ có thai, giàu protein, chất sơ và các khoáng chất có lợi cho sức khỏe, nhưng lại ít béo và ít cholesterol, vì vậy rất phù hợp để bổ sung vào khẩu phần dinh dưỡng cho mọi thành viên trong gia đình.
        li
            strong Sữa mè đen: 
            span Rất có lợi cho tim mạch, tăng tuổi thọ. Mè đen có tác dụng hữu hiệu đối với các vấn đề về tiêu hóa như nhuận tràng, trị táo bón, khó tiêu.
