#team
    h1.text-center
        text-transform: uppercase
        color: #4a4747
        font-weight: 900
        font-family: "Open Sans"
        margin-bottom: 1em

    .members
        img
            margin: 0 auto