#reason.row(ng-controller='ReasonController as vm')
    h1.text-center {{ vm.header }}
    .col-lg-4.reasons(ng-repeat='reason in vm.reasons')
        img(ng-src='{{ reason.img }}')
        h1.text-center {{ reason.title }}
        p {{reason.content}}