#products-description
    img(src='modules/cms/client/img/_MG_3698.jpg')
    h1.blue Sữa mè đen
    p Rất có lợi cho tim mạch, tăng tuổi thọ. Mè đen có tác dụng hữu hiệu đối với các vấn đề về tiêu hóa như nhuận tràng, trị táo bón, khó tiêu.