#products-description
    img(src='modules/cms/client/img/_MG_3700.jpg')
    h1.blue Sữa gạo lứt
    p Giảm cholesterol, ngăn ngừa các nguy cơ về tim mạch và xây dựng hệ xương vững chắc. Uống trường kỳ sẽ hết được bệnh gút, chứng phong thấp của người già. Bớt hoặc không còn nhức mỏi mỗi khi thời tiết thay đổi.