#products-description
    img(src='modules/cms/client/img/_MG_3695.jpg')
    h1.blue Sữa bắp
    p Tốt cho hệ tiêu hóa, trong bắp cũng có chứa lượng vitamin A nhất định rất có lợi cho mắt của bạn, đặc biệt trong bắp còn có chứa lutein và zeaxanthin 2 chất quan trọng trong việc giúp chống lão hóa điểm vàng. Do đó sữa bắp cũng có những tác dụng trên đối với thị lực của bạn, tinh bột trong sữa bắp cũng giúp bạn duy trì lượng đường trong máu, giúp não bộ của bạn hoạt động tốt hơn trong tình trạng căng thẳng và áp lực công việc.