#products-description
    img(src='modules/cms/client/img/_MG_3688.jpg')
    h1.blue Sữa hạt sen
    p Hạt sen chữa mất ngủ rất tốt và giúp tăng tiết sữa cho phụ nữ có thai, giàu protein, chất sơ và các khoáng chất có lợi cho sức khỏe, nhưng lại ít béo và ít cholesterol, vì vậy rất phù hợp để bổ sung vào khẩu phần dinh dưỡng cho mọi thành viên trong gia đình.