#products-description
    img(src='modules/cms/client/img/_MG_3709.jpg')
    h1.blue Sữa đậu phộng
    p Hỗ trợ giảm cân, tốt cho tim mạch, làm giảm cholesterol, tăng cường trí nhớ và ngăn ngừa lão hóa.