#products-description
    img(src='modules/cms/client/img/_MG_3692.jpg')
    h1.blue Sữa đậu đỏ
    p Đốt cháy bớt lượng mỡ thừa giúp giảm cân, lượng kali trong hạt đậu đỏ có tác dụng giúp điều chỉnh kiểm soát huyết áp, thanh lọc cơ thể.