#products-description
    img(src='modules/cms/client/img/_MG_3688.jpg')
    h1.blue Sữa đậu nành
    p Giúp làm đẹp da, chống lão hóa, giảm nguy cơ mắc bệnh tim mạch, ngăn ngừa được bệnh loãng xương.