// CUSTOMER INFORMATION
.row
    .col-sm-6
        p {{ vm.customerNameLabel }}
            span ten khach hang
        p {{ vm.customerAddressLabel }}
            span dong nai
        p {{ vm.customerPhoneNoLabel }}
            span 0123
        p {{ vm.totalMoneyLabel }}
            span 20k
    .col-sm-6
        .form-group
            label.label-control.col-sm-4(for="status-selection") {{ vm.statusLabel }}
            .col-sm-8
                select.form-control(ng-options="option.display for option in vm.options" ng-model="vm.opt")

// GRID
.row(ui-grid='vm.gridOptions')
